* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 0.5rem 6rem;
  background-color: gray;
  color: white;
}
.header .menu-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 2rem;
  padding: 0.5rem;
  list-style: none;
  animation-name: aparecer-menu;
  animation-duration: 6s;
}
.header .menu-container .menu-link {
  color: whitesmoke;
}
.header .menu-container a:hover {
  color: gold;
}
@keyframes aparecer-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo-principal {
  font-family: "Tangerine", cursive;
  font-size: 80px;
  color: white;
  animation-name: aparecer;
  animation-duration: 4s;
}

.container-portada {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.container-portada .imagen-portada {
  display: flex;
  justify-content: center;
  width: 1000px;
}

.hero-description {
  margin-block: 1rem;
  padding-inline: 18rem;
  padding-block: 2rem;
  background-color: gray;
  font-size: 22px;
  color: gold;
  text-align: center;
}

.galeria {
  background-color: white;
  padding-block: 0.5rem;
}
.galeria .title-galeria {
  font-family: "Tangerine", cursive;
  font-size: 65px;
  text-align: center;
  color: sandybrown;
  margin: 2rem;
}
.galeria .contenedor-galerias {
  display: flex;
  justify-content: center;
}
.galeria .foto-galeria {
  width: 220px;
  margin: 10px;
}
.galeria .foto-galeria:hover {
  transition: 400ms;
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

.container-formulario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  background-color: sandybrown;
  padding: 2rem;
  margin-block: 2rem;
}
.container-formulario .completar-datos, .container-formulario .casillas-verificacion, .container-formulario .botones-radio {
  padding: 0.7rem;
}
.container-formulario .completar-datos .subscribe-to, .container-formulario .completar-datos .do-you-wish, .container-formulario .casillas-verificacion .subscribe-to, .container-formulario .casillas-verificacion .do-you-wish, .container-formulario .botones-radio .subscribe-to, .container-formulario .botones-radio .do-you-wish {
  color: black;
}

.imagen-contacto {
  max-width: 100%;
  width: 600px;
}

.titulo-contacto {
  font-family: "Tangerine", cursive;
  font-size: 50px;
  text-align: center;
  margin: 2rem;
}

.info-hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}
.info-hotel .info-contacto {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.info-hotel .mapita {
  max-width: 100%;
}

.container-rooms {
  max-width: 100%;
  height: auto;
  margin-block: 2rem;
}
.container-rooms .title-rooms {
  font-family: "Tangerine", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.container-rooms .img-rooms {
  max-width: 100%;
  width: 250px;
  height: 200px;
  margin: 1rem;
}
.container-rooms .img-rooms:hover {
  transition: 350ms;
  transform: scale(1.5);
}
.container-rooms .single-rooms, .container-rooms .couple-rooms {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
  margin-bottom: 3rem;
}

.container-reservas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: sandybrown;
  font-size: 20px;
  color: white;
  margin: 2rem;
  padding: 2rem;
}
.container-reservas .btn-reservas {
  margin-block: 0.5rem;
}

.main-servicios {
  background-color: none;
}
.main-servicios .contenedor-servicios {
  max-width: 100%;
  justify-content: start;
  column-gap: 4px;
  row-gap: 4px;
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "restau casino" "restau spa" "eventos piscina";
}
.main-servicios .title-servicios {
  font-family: "Tangerine", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.main-servicios .img-servicios {
  max-width: 100%;
  width: 250px;
  height: 165px;
}
.main-servicios .item-servicio {
  max-width: 100%;
}
.main-servicios .item-restaurant {
  grid-area: restau;
  margin: 0rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  background-color: gray;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.main-servicios .item-casino {
  grid-area: casino;
  margin: 0rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  background-color: gray;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.main-servicios .item-eventos {
  grid-area: eventos;
  margin: 0rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  background-color: gray;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.main-servicios .item-spa {
  grid-area: spa;
  margin: 0rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  background-color: gray;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.main-servicios .item-piscina {
  grid-area: piscina;
  margin: 0rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  background-color: gray;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.main-servicios .item-servicio:hover {
  transform: scale(1.05);
  background-color: goldenrod;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  padding-block: 5rem;
  background-color: gray;
}
.footer .container-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .container-logos .logos-redes {
  width: 35px;
  height: 35px;
}
.footer .text-footer {
  font-size: 20px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .header .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 20px;
    padding: 0.5rem 6rem;
    color: white;
  }
  .hero-description {
    padding-inline: 5rem;
  }
  .img-rooms {
    max-width: 100%;
  }
}
@media screen and (max-width: 880px) {
  .container-rooms .single-rooms {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-rooms .couple-rooms {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 780px) {
  .header .menu-container {
    gap: 1.5rem;
  }
  .menu-container a {
    font-size: 20px;
  }
  .titulo-principal {
    font-size: 95px;
  }
  .imagen-portada {
    width: 400px;
  }
  .hero-description {
    margin-block: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
  }
  .galeria .contenedor-galerias {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  .main-servicios .contenedor-servicios {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-formulario {
    display: flex;
    flex-direction: column;
  }
  .info-hotel {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 2rem 2rem;
    background-color: gray;
    color: white;
  }
  .titulo-principal {
    font-size: 65px;
  }
  .header .menu-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .menu-container a {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .titulo-contacto {
    font-size: 25px;
  }
}
@media screen and (max-width: 380px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .header .menu-container {
    display: flex;
    flex-direction: column;
  }
  .titulo-principal {
    font-size: 45px;
  }
}

/*# sourceMappingURL=estilos.css.map */
