.header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0.5rem 6rem;
    background-color: $colorPrincipal;
    color: white;

    .menu-container {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        gap: 2rem;
        padding: 0.5rem;
        list-style: none;
        animation-name: aparecer-menu;
        animation-duration: 6s;

        .menu-link {
            color: whitesmoke;
        }

        a:hover {
            color: gold;
        }

        @keyframes aparecer-menu {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}