@media screen and (max-width: 990px) {
    .header .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        font-size: 20px;
        padding: 0.5rem 6rem;
        color: white;
    }

    .hero-description {
        padding-inline: 5rem;
    }

    .img-rooms {
        max-width: 100%;
    }

}

@media screen and (max-width: 880px) {

    .container-rooms .single-rooms {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-rooms .couple-rooms {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 780px) {
    .header .menu-container {
        gap: 1.5rem;
    }
    .menu-container a {
        font-size: 20px;
    }
    .titulo-principal {
        font-size: 95px;
    }
    .imagen-portada {
        width: 400px;
    }
    .hero-description {
        margin-block: 1rem;
        padding-inline: 2rem;
        padding-block: 2rem;
    }
    .galeria .contenedor-galerias {
        display: grid;
        flex-direction: column;
        justify-content: center;
    }
    .main-servicios .contenedor-servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    // .contenedor-servicios {
    //     max-width: 100%;
    //     justify-content: center;
    //     grid-template-columns: 1fr;
    //     grid-template-rows: repeat(5, 1fr);
    //     grid-template-areas: 
    //     "restau"
    //     "casino"
    //     "spa"
    //     "eventos"
    //     "piscina";
    // }

    .container-formulario {
        display: flex;
        flex-direction: column;
    }

    .info-hotel {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 580px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 2rem 2rem;
        background-color: gray;
        color: white;
    }
    .titulo-principal {
        font-size: 65px;
    }
    .header .menu-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .menu-container a {
        display: flex;
        flex-direction: row;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .titulo-contacto {
        font-size: 25px;
    }
}

@media screen and (max-width: 380px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header .menu-container {
        display: flex;
        flex-direction: column;

    }
    .titulo-principal {
        font-size: 45px;
    }
}
